.customer {
  width: 700px;

  label {
    vertical-align: super;
    margin-left: 0;
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Title {
      display: flex;
      align-items: center;
      font-size: 22px;
      margin-top: 20px;
    }
  }

  &__input {
    width: 650px;
    height: 64px;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 300;
    padding-left: 20px;
    color: #ffffff;
    background-color: #343434;
    margin: 20px 0 0 25px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

    input {
      background-color: inherit;
      border: none;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      color: white;
      padding-left: 10px;

      &:focus-visible {
        outline: none;
      }
    }

    &__error {
      border-color: red;
    }

    @media only screen and (max-width: 500px) {
      width: 450px;
    }
  }

  .select {
    .css-1okebmr-indicatorSeparator {
      fill: #707070;
    }

    >div>div {
      &:focus {
        outline: none;
      }
    }

    >div:nth-child(4)>div>div {
      background-color: transparent;
      padding-left: 20px;
    }

    span {
      display: none;
    }

    @media only screen and (max-width: 500px) {
      width: 450px;
    }
  }

  @media only screen and (max-width: 500px) {
    width: 470px;
  }
}