.customer {
  label {
    vertical-align: super;
    margin-left: 0;
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &Title {
      display: flex;
      align-items: center;
    }
  }

  &__input {
    width: 480px;
    height: 64px;
    border: 1px solid #707070;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    color: #ffffff;
    background-color: #343434;
    margin: 10px 0 0 25px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

    input {
      background-color: inherit;
      border: none;
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      color: white;
      padding-left: 10px;

      &:focus-visible {
        outline: none;
      }
    }

    &:last-of-type {
      margin-bottom: 10px;
    }
  }

  .select {
    margin: 10px 0 10px 25px;
    width: 480px;
    height: 64px;
    font-weight: 200px;

    > div {
      height: 100%;
      color: #ffffff;
      background-color: #343434;
      border: 1px solid #707070;
      cursor: pointer !important;
    }

    .css-1okebmr-indicatorSeparator {
      fill: #707070;
    }

    > div > div {
      background-color: #343434;
      border-radius: 5px;
      margin-left: 0;

      &:focus {
        outline: none;
      }

      > div {
        display: flex;
        align-items: center;
        font-weight: 300;
        color: white;
        cursor: pointer !important;
        padding-left: 10px;
      }
    }

    > div:nth-child(4) > div > div {
      background-color: transparent;
      padding-left: 20px;
    }

    span {
      display: none;
    }
  }

  .ErrorMessage {
    text-align: right;
    font-size: 12px;
    color: red;
  }
}
