.details {
  width: 480px;
  border: 1px solid #707070;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  padding: 20px;
  color: white;
  background-color: #343434;
  margin: 10px 0 0 25px;
  line-height: 25px;

  &__title {
    padding-bottom: 10px;
  }

  &__detailTitle {
    display: flex;
    align-items: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &Label {
      max-width: 120px;
    }
  }

  &__total {
    padding-top: 15px;
  }

  @media only screen and (max-width: 500px) {
    width: 300px;
    margin-left: 25px;
  }
}