html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rdp {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;

  &:focus {
    outline: none !important;
  }

  &-nav_button,
  &-nav_button:hover {
    background-color: transparent !important;
  }

  &-caption {
    padding-left: 40px !important;
    height: 64px;
    margin-bottom: 0 !important;
    &_label {
      display: flex;
      align-items: center;
      height: 100%;
      font-weight: 200 !important;
      font-size: 18px !important;
    }
  }

  &-button:focus {
    border: none !important;
  }

  &-head_cell {
    font-weight: 400 !important;
  }

  &-day {
    outline: none;

    &:hover {
      background-color: inherit !important;
    }

    &_selected {
      color: #222222 !important;
      background-color: #fcb923 !important;

      span {
        font-weight: 600;
      }

      &:hover {
        background-color: #fcb923 !important;
      }
    }
  }
}

.MuiSlider {
  &-root {
    margin: 30px !important;
    color: #707070 !important;
  }

  &-track,
  &-rail {
    height: 4px !important;
    opacity: 0.1 !important;
  }

  &-thumb {
    background-color: #fcb923 !important;
    width: 16px !important;
    height: 16px !important;
    margin-top: -7px !important;
  }
  &-mark {
    width: 4px !important;
    height: 4px !important;
    border-radius: 50% !important;
    bottom: 11px;
  }

  &-markActive {
    opacity: 0.3 !important;
  }
}

.Packages {
  display: flex;
  flex-direction: column;

  margin: 20px 0 20px 30px;
  padding-left: 30px;
  width: 50%;
  height: 100%;

  color: white;
  font-size: 24px;
  font-weight: 600;

  border-left: 1px solid;

  &__title {
    margin-bottom: 15px;
  }

  .Accordion {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid white;

    &__indicator {
      padding: 0;
      padding: 10px;
      width: 100%;
      color: #fdb924;
    }

    &__panel {
      background-color: #222222;
      max-height: 0px;
      overflow: hidden;
      width: 100%;

      &--description,
      &--subTitle {
        font-weight: 400;
      }
    }

    &__indicator--content {
      display: flex;
      justify-content: center;
      width: 100%;

      &Item {
        display: flex;
        align-items: center;
        text-align: left;

        &--block {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      }

      .Accordion__indicator--icon {
        width: 14px;
        margin-left: 5px;
      }
    }

    &--open > .Accordion__indicator .Accordion__indicator--contentItem--rotate .Accordion__indicator--icon {
      transform: rotate(-180deg);
    }

    &--open > .Accordion__panel {
      max-height: 10000px;
      transition: max-height 0.8s ease;
      padding: 10px;
      border: 1px solid white;
    }
  }
}

.Customer {
  width: 100%;
  margin-top: 30px;

  &__input {
    width: 490px;
    height: 38px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    color: hsl(0, 0%, 20%);
  }

  .ErrorMessage {
    text-align: right;
    font-size: 12px;
    color: red;
  }
}

.css-g1d714-ValueContainer {
  margin-left: 40px;
}
