.Header {
  width: 100%;
  height: 40px;
  padding: 40px 10px;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 10px;
  background-color: #fdb924;
  color: #2f3135;
  font-size: 50px;
  font-weight: 400;

  &__shareLogo {
    height: 50px;
    padding-right: 20px;
  }
}
