.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  padding-bottom: 50px;
  padding: 40px 0;
  min-width: 550px;


  label {
    font-weight: 400;
    color: #bcbcbc;
  }

  &__container {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    width: 95%;
  }

  .navigators {
    .verticalLine {
      border-left: 1px solid #343434;
      height: 500px;
      margin: 32px 0 10px 12px;
    }

    .verticalLine2 {
      border-left: 1px solid #343434;
      height: 130px;
      margin: 5px 0 10px 12px;
    }

    .verticalLineDetails {
      border-left: 1px solid #343434;
      height: 150px;
      margin: 30px 0 10px 12px;
    }

    .verticalLineDetails2 {
      height: 145px;
      margin-top: 40px;
    }

    .verticalLineDetails3 {
      height: 70px;
      margin-top: 40px;
    }
  }

  @keyframes setToDoDone {
    from {
      background-image: url("/assets/one.svg");
    }

    to {
      background-image: url("/assets/checkmark.svg");
    }
  }

  .cart {
    width: 26px;
    height: 26px;
    background-image: url("/assets/cart.svg");
    position: relative;
    left: -18px;
  }

  .todoitem {
    width: 26px;
    height: 26px;
    position: relative;
    left: -13px;

    &__one {
      background-image: url("/assets/one.svg");
    }

    &__two {
      background-image: url("/assets/two.svg");
    }

    &__three {
      background-image: url("/assets/three.svg");
    }

    &__four {
      background-image: url("/assets/four.svg");
    }

    &__cashier {
      background-image: url("/assets/cashier.svg");
    }

    &__done {
      background-image: url("/assets/checkmark.svg");
      animation-name: setToDoDone;
      animation-duration: 0.5s;
    }
  }

  .numberIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    background-color: #fcb923;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #222222;
    position: relative;
    left: -13px;
  }

  .iconContainer {
    width: 24px;
    height: 24px;
  }
}