.main {
  display: flex;
  flex-direction: column;
  height: 1200px;
  align-items: center;
  background-color: #222222;

  label {
    font-weight: 400;
    color: #bcbcbc;
  }

  &__container {
    display: flex;
    color: white;
    font-weight: 600;
    width: 95%;
  }

  .navigators {
    .verticalLine {
      border-left: 1px solid #343434;
      height: 400px;
      margin: 3px 0 10px 12px;
    }
    .verticalLineDetails {
      border-left: 1px solid #343434;
      height: 150px;
      margin: 30px 0 10px 12px;
    }

    .verticalLineDetails2 {
      height: 145px;
      margin-top: 40px;
    }

    .verticalLineDetails3 {
      height: 70px;
      margin-top: 40px;
    }
  }
  .numberIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    background-color: #fcb923;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #222222;
  }
}
