.options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px 0 20px;

  label {
    margin-left: 10px;
    font-size: 22px;
  }

  &__icon {
    position: relative;
    left: 40px;
    z-index: 2;

    @media only screen and (max-width: 500px) {
      display: none;
    }
  }

  &__tubsLabel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 20px;
  }

  &__availableTubs {
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 12px;
    color: #bcbcbc;
    margin-left: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
    width: 500px;
    margin: 0 0 10px 32px;
    position: relative;
    right: 20px;

    .options__box {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
      }

    }
  }

  &__peopleCounter {
    margin-left: 20px;
    top: 4px;
    position: relative;
    font-weight: 200;
  }
}

.tubs {
  color: red;
}

.select {
  width: 297px;
  height: 64px;
  font-size: 20px;

  &:focus {
    outline: none;
  }

  @media only screen and (max-width: 500px) {
    padding-left: 20px;
    width: 450px;
  }

  >div {
    height: 100%;
    color: #ffffff;
    background-color: #343434;
    border: 1px solid #707070 !important;
    cursor: pointer !important;

    @media only screen and (max-width: 500px) {
      width: inherit;
    }

    &:focus {
      outline: none;
    }

    &:nth-of-type(2) {
      height: auto;
    }
  }

  >div:first-of-type>div {
    background-color: #343434;
    border-radius: 5px;
    margin-left: 50px;

    @media only screen and (max-width: 500px) {
      margin-left: 5px;
    }

    &:focus {
      outline: none;
    }

    >div {
      display: flex;
      align-items: center;
      font-weight: 300;
      color: white;
      background-color: #343434 !important;
      position: relative;

      svg {
        position: relative;
        color: white;
      }

      @media only screen and (max-width: 500px) {
        left: 0;

        svg {
          right: 0 !important;
        }
      }
    }

    >div:nth-child(2)>div>div {
      margin-left: 5px;
    }
  }


  >div:nth-child(4)>div>div {
    left: 0;
    cursor: pointer !important;
    font-weight: 200;
    background-color: #343434;
  }

  span {
    display: none;
  }
}