.reservationDate {
  display: flex;
  flex-direction: column;
  font-weight: 200;

  &__calendar {
    display: flex;
    flex-direction: row;
    margin-left: 32px;

    &Icon {
      position: absolute;
      top: 42px;
      left: 45px;
      right: auto;
      width: 24px;
      height: 24px;
    }
  }

  &__label {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 22px;

    label {
      margin-left: 10px;
    }
  }

  &__date {
    width: 470px;
    height: 530px;
    background-color: #343434;
    position: relative;
    border-radius: 10px;
    border: 1px #222222 solid;
    color: white;

    &Picker>div>div {
      margin-left: 10px !important;

      >div>h2 {
        font-size: 22px !important;
        margin-left: 10px;
      }

      >table {
        margin: 0 1em 1em;
        width: 400px;
        max-width: none;
        font-size: 22px;

        >thead>tr {
          height: 50px;

          >th {
            font-size: 22px;
          }
        }

        >tbody>tr {
          height: 60px;

          >td {
            width: 60px;
            height: 60px;

            >button {
              width: 55px;
              height: 55px;
              max-width: none;
              font-weight: 200 !important;
            }
          }
        }
      }
    }

    &Picker>div>div>div:first-child {
      margin: 20px 20px 10px !important;

      >div {
        margin-right: 10px;
      }
    }
  }

  &__time {
    align-items: center;
    margin-left: 10px;
    width: 140px;
    background-color: #343434;
    border: 1px solid #222222;
    border-radius: 10px;
    font-size: 20px;
    padding: 23px 1em;

    &Title {
      height: 60px;
      width: 90px;
      display: flex;
      align-items: center;
      color: white;
      padding-left: 15px;

      >div {
        margin-right: 10px;
      }
    }

    &Options {
      display: flex;
      flex-direction: column;
      height: 420px;

      button {
        background-color: #343434;
        border-radius: 5px;
        color: #fafafa;
        border: none;
        font-size: 22px;
        height: 70px;
        font-weight: 200;
        cursor: pointer;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

        &.selected {
          color: #222222;
          background-color: #fcb923;
          font-weight: 600;
        }

        &:focus {
          outline: none;
        }
      }

      &Disabled {
        color: #707070 !important;
        cursor: not-allowed !important;
      }
    }
  }

  &__timeResponsive {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .reservationDate {

    &__calendar {
      height: auto;

      &Icon {
        left: 25px;
        top: 30px;
      }
    }

    &__date {
      width: 450px;
      height: 400px;
      background-color: #343434;
      position: relative;
      border-radius: 10px;
      border: 1px #222222 solid;
      color: white;

      &Picker>div>div>table {
        font-size: 20px;
        margin: 1em;
        width: 400px;
        max-width: none;
      }

      &Picker>div>div>div:first-child {
        margin: 10px;
      }
    }

    &__time {
      display: none;
    }

    &__timeResponsive {
      display: inline;
      align-items: center;
      margin: 5px 15px 0 30px;
      background-color: #343434;
      border: 1px solid #222222;
      border-radius: 10px;
      padding: 23px 1em;

      &Title {
        height: 50px;
        width: 90px;
        display: flex;
        align-items: center;
        color: white;
        padding-left: 10px;

        >div {
          margin-right: 10px;
        }

        >span {
          font-size: 20px;
        }
      }

      &Options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        button {
          background-color: #343434;
          border-radius: 5px;
          color: #fafafa;
          border: none;
          font-size: 20px;
          height: 43px;
          font-weight: 200;
          cursor: pointer;
          font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

          &.selected {
            color: #222222;
            background-color: #fcb923;
            font-weight: 600;
          }

          &:focus {
            outline: none;
          }
        }

        &Disabled {
          color: #707070 !important;
          cursor: not-allowed !important;
        }
      }
    }
  }
}