.reservationDate {
  display: flex;
  flex-direction: column;
  font-weight: 200;

  &__calendarIcon {
    position: absolute;
    top: 36px;
    left: 27px;
    right: auto;
    width: 24px;
    height: 24px;
  }

  &__calendar {
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    height: 380px;
  }

  &__label {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    label {
      margin-left: 10px;
    }
  }

  &__date {
    width: 330px;
    background-color: #343434;
    position: relative;
    border-radius: 10px;
    border: 1px #222222 solid;
  }

  &__time {
    align-items: center;
    margin-left: 10px;
    width: 140px;
    background-color: #343434;
    border: 1px solid #222222;
    border-radius: 10px;
    font-size: 20px;
    padding: 23px 1em;

    &Title {
      height: 50px;
      width: 90px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
    }

    &Options {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 290px;

      button {
        background-color: #343434;
        border-radius: 5px;
        color: #fafafa;
        border: none;
        font-size: 15px;
        height: 43px;
        font-weight: 200;
        cursor: pointer;
        font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

        &.selected {
          color: #222222;
          background-color: #fcb923;
          font-weight: 600;
        }

        &:focus {
          outline: none;
        }
      }

      &Disabled {
        color: #707070 !important;
        cursor: not-allowed !important;
      }
    }
  }

  &__timeResponsive {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .reservationDate {
    &__date {
      width: 310px;
      background-color: #343434;
      position: relative;
      border-radius: 10px;
      border: 1px #222222 solid;
      color: white;
    }

    &__time {
      display: none;
    }

    &__timeResponsive {
      display: inline;
      align-items: center;
      margin: 5px 0 0 30px;
      width: 310px;
      background-color: #343434;
      border: 1px solid #222222;
      border-radius: 10px;
      font-size: 20px;
      padding: 23px 1em;

      &Title {
        height: 50px;
        width: 90px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
      }

      &Options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        button {
          background-color: #343434;
          border-radius: 5px;
          color: #fafafa;
          border: none;
          font-size: 15px;
          height: 43px;
          font-weight: 200;
          cursor: pointer;
          font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
          padding: 5px 20px;

          &.selected {
            color: #222222;
            background-color: #fcb923;
            font-weight: 600;
          }

          &:focus {
            outline: none;
          }
        }

        &Disabled {
          color: #707070 !important;
          cursor: not-allowed !important;
        }
      }
    }
  }
}