.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  padding: 40px 0;

  @media only screen and (max-width: 500px) {
    width: 500px;
  }
}

.label {
  display: flex;
  align-items: center;
  margin: 40px 0 10px 5px;
}

.icon {
  margin: 10px 23px 0 -27px;

  svg {
    fill: #fcb923;
    width: 24px;
  }
}

.summaryLabel {
  display: flex;
  align-items: center;
  margin: 30px 0 10px 5px;
}

.reservation {
  display: flex;
  color: #bcbcbc;
  font-weight: 300;
  margin: 0 0 10px 22px;
  line-height: 30px;

  &__summary {
    margin: 10px;
    font-size: 22px;

    @media only screen and (max-width: 500px) {
      >div {
        width: 380px;
        font-size: 18px;
      }
    }
  }

  &__title {
    font-size: 24px;

    span {
      margin-left: 30px !important;
      color: #ffffff;
    }
  }


}

.bold {
  font-weight: 400;
}

.vat {
  font-size: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  margin-top: 15px;
  font-weight: 400;
}

.navigators {
  .verticalLine {
    border-left: 1px solid #343434;
    height: 190px;
    margin: 80px 0 35px 12px;

    &2 {
      border-left: 1px solid #343434;
      height: 240px;
      margin: 5px 0 35px 12px;
    }

    &3 {
      border-left: 1px solid #343434;
      height: 240px;
      margin: 5px 0 10px 12px;
    }
  }


}